-- MySQL dump 10.13  Distrib 8.4.6, for Win64 (x86_64)
--
-- Host: localhost    Database: telegram_bot_manager
-- ------------------------------------------------------
-- Server version	8.4.6

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `banned_words`
--

DROP TABLE IF EXISTS `banned_words`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `banned_words` (
  `word_id` int NOT NULL AUTO_INCREMENT,
  `group_id` bigint DEFAULT NULL,
  `word` varchar(255) NOT NULL,
  PRIMARY KEY (`word_id`),
  UNIQUE KEY `word` (`word`),
  KEY `group_id` (`group_id`),
  CONSTRAINT `banned_words_ibfk_1` FOREIGN KEY (`group_id`) REFERENCES `groups_config` (`group_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=392 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `banned_words`
--

LOCK TABLES `banned_words` WRITE;
/*!40000 ALTER TABLE `banned_words` DISABLE KEYS */;
/*!40000 ALTER TABLE `banned_words` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `daily_points_log`
--

DROP TABLE IF EXISTS `daily_points_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `daily_points_log` (
  `log_id` int NOT NULL AUTO_INCREMENT,
  `event_id` int NOT NULL,
  `user_id` bigint NOT NULL,
  `log_date` date NOT NULL,
  `points_scored` int NOT NULL,
  PRIMARY KEY (`log_id`),
  KEY `event_id` (`event_id`),
  CONSTRAINT `daily_points_log_ibfk_1` FOREIGN KEY (`event_id`) REFERENCES `events` (`event_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `daily_points_log`
--

LOCK TABLES `daily_points_log` WRITE;
/*!40000 ALTER TABLE `daily_points_log` DISABLE KEYS */;
INSERT INTO `daily_points_log` VALUES (1,1,5279099985,'2025-10-10',4),(2,1,5279099985,'2025-10-10',5);
/*!40000 ALTER TABLE `daily_points_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `daily_slot_tracker`
--

DROP TABLE IF EXISTS `daily_slot_tracker`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `daily_slot_tracker` (
  `log_id` int NOT NULL AUTO_INCREMENT,
  `event_id` int NOT NULL,
  `slot_id` int NOT NULL,
  `user_id` bigint NOT NULL,
  `log_date` date NOT NULL,
  `status` enum('completed','missed') NOT NULL,
  `duplicate_submissions` int DEFAULT '0',
  PRIMARY KEY (`log_id`),
  UNIQUE KEY `event_id` (`event_id`,`slot_id`,`user_id`,`log_date`),
  KEY `slot_id` (`slot_id`),
  CONSTRAINT `daily_slot_tracker_ibfk_1` FOREIGN KEY (`event_id`) REFERENCES `events` (`event_id`) ON DELETE CASCADE,
  CONSTRAINT `daily_slot_tracker_ibfk_2` FOREIGN KEY (`slot_id`) REFERENCES `group_slots` (`slot_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `daily_slot_tracker`
--

LOCK TABLES `daily_slot_tracker` WRITE;
/*!40000 ALTER TABLE `daily_slot_tracker` DISABLE KEYS */;
INSERT INTO `daily_slot_tracker` VALUES (1,1,6,5279099985,'2025-10-10','completed',0),(2,1,9,5279099985,'2025-10-10','completed',0);
/*!40000 ALTER TABLE `daily_slot_tracker` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `events`
--

DROP TABLE IF EXISTS `events`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `events` (
  `event_id` int NOT NULL AUTO_INCREMENT,
  `group_id` bigint NOT NULL,
  `event_name` varchar(255) NOT NULL DEFAULT 'Wellness Challenge',
  `start_date` date NOT NULL,
  `end_date` date NOT NULL,
  `min_pass_points` int DEFAULT '250',
  `is_active` tinyint(1) DEFAULT '1',
  PRIMARY KEY (`event_id`),
  KEY `group_id` (`group_id`),
  CONSTRAINT `events_ibfk_1` FOREIGN KEY (`group_id`) REFERENCES `groups_config` (`group_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `events`
--

LOCK TABLES `events` WRITE;
/*!40000 ALTER TABLE `events` DISABLE KEYS */;
INSERT INTO `events` VALUES (1,-4871090106,'Wellness Challenge','2025-10-10','2025-10-17',200,1);
/*!40000 ALTER TABLE `events` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `group_members`
--

DROP TABLE IF EXISTS `group_members`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `group_members` (
  `member_id` int NOT NULL AUTO_INCREMENT,
  `user_id` bigint NOT NULL,
  `group_id` bigint NOT NULL,
  `username` varchar(255) DEFAULT NULL,
  `first_name` varchar(255) DEFAULT NULL,
  `current_event_points` int DEFAULT '0',
  `current_points` int DEFAULT '0',
  `knockout_points` int DEFAULT '0',
  `warnings` int DEFAULT '0',
  `banned_word_count` int DEFAULT '0',
  `user_day_number` int DEFAULT '1',
  `cycle_start_date` date DEFAULT NULL,
  `is_restricted` tinyint(1) DEFAULT '0',
  `last_active_timestamp` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `joined_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`member_id`),
  UNIQUE KEY `user_id` (`user_id`,`group_id`),
  KEY `group_id` (`group_id`),
  CONSTRAINT `group_members_ibfk_1` FOREIGN KEY (`group_id`) REFERENCES `groups_config` (`group_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `group_members`
--

LOCK TABLES `group_members` WRITE;
/*!40000 ALTER TABLE `group_members` DISABLE KEYS */;
INSERT INTO `group_members` VALUES (1,5279099985,-4871090106,'ArjyeshMohapatra','UnidentUser\\ΓÇóΓùïΓÇó/',0,0,65,0,10,1,'2025-10-10',0,'2025-10-11 07:31:27','2025-10-10 09:58:33');
/*!40000 ALTER TABLE `group_members` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `group_slots`
--

DROP TABLE IF EXISTS `group_slots`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `group_slots` (
  `slot_id` int NOT NULL AUTO_INCREMENT,
  `group_id` bigint NOT NULL,
  `event_id` int DEFAULT NULL,
  `slot_name` varchar(255) NOT NULL,
  `start_time` time NOT NULL,
  `end_time` time NOT NULL,
  `initial_message` text,
  `response_positive` text,
  `response_clarify` text,
  `image_file_path` text,
  `slot_type` varchar(50) DEFAULT 'default',
  `points_for_text` int DEFAULT '0',
  `points_for_photo` int DEFAULT '0',
  `is_mandatory` tinyint(1) DEFAULT '0',
  PRIMARY KEY (`slot_id`),
  KEY `group_id` (`group_id`),
  KEY `event_id` (`event_id`),
  CONSTRAINT `group_slots_ibfk_1` FOREIGN KEY (`group_id`) REFERENCES `groups_config` (`group_id`) ON DELETE CASCADE,
  CONSTRAINT `group_slots_ibfk_2` FOREIGN KEY (`event_id`) REFERENCES `events` (`event_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `group_slots`
--

LOCK TABLES `group_slots` WRITE;
/*!40000 ALTER TABLE `group_slots` DISABLE KEYS */;
/*!40000 ALTER TABLE `group_slots` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `groups_config`
--

DROP TABLE IF EXISTS `groups_config`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `groups_config` (
  `config_id` int NOT NULL AUTO_INCREMENT,
  `group_id` bigint NOT NULL,
  `license_key` varchar(50) NOT NULL,
  `admin_user_id` bigint NOT NULL,
  `max_members` int DEFAULT '0',
  `welcome_message` text,
  `kick_message` text,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`config_id`),
  UNIQUE KEY `group_id` (`group_id`),
  UNIQUE KEY `license_key` (`license_key`),
  CONSTRAINT `groups_config_ibfk_1` FOREIGN KEY (`license_key`) REFERENCES `licenses` (`license_key`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `groups_config`
--

LOCK TABLES `groups_config` WRITE;
/*!40000 ALTER TABLE `groups_config` DISABLE KEYS */;
INSERT INTO `groups_config` VALUES (1,-4871090106,'AUTO_-4871090106_1760090267',5279099985,100,'Welcome! ≡ƒîƒ','Goodbye!','2025-10-10 09:57:47');
/*!40000 ALTER TABLE `groups_config` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `inactivity_warnings`
--

DROP TABLE IF EXISTS `inactivity_warnings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `inactivity_warnings` (
  `warning_id` int NOT NULL AUTO_INCREMENT,
  `group_id` bigint NOT NULL,
  `user_id` bigint NOT NULL,
  `warning_date` date NOT NULL,
  `warning_type` enum('2day','3day') NOT NULL,
  PRIMARY KEY (`warning_id`),
  UNIQUE KEY `group_id` (`group_id`,`user_id`,`warning_date`,`warning_type`),
  CONSTRAINT `inactivity_warnings_ibfk_1` FOREIGN KEY (`group_id`) REFERENCES `groups_config` (`group_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `inactivity_warnings`
--

LOCK TABLES `inactivity_warnings` WRITE;
/*!40000 ALTER TABLE `inactivity_warnings` DISABLE KEYS */;
/*!40000 ALTER TABLE `inactivity_warnings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `licenses`
--

DROP TABLE IF EXISTS `licenses`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `licenses` (
  `license_id` int NOT NULL AUTO_INCREMENT,
  `license_key` varchar(50) NOT NULL,
  `is_active` tinyint(1) DEFAULT '1',
  `assigned_group_id` bigint DEFAULT NULL,
  `assigned_admin_id` bigint DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`license_id`),
  UNIQUE KEY `license_key` (`license_key`),
  UNIQUE KEY `assigned_group_id` (`assigned_group_id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `licenses`
--

LOCK TABLES `licenses` WRITE;
/*!40000 ALTER TABLE `licenses` DISABLE KEYS */;
INSERT INTO `licenses` VALUES (1,'AUTO_-4871090106_1760090267',1,-4871090106,5279099985,'2025-10-10 09:57:47');
/*!40000 ALTER TABLE `licenses` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `member_history`
--

DROP TABLE IF EXISTS `member_history`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `member_history` (
  `history_id` int NOT NULL AUTO_INCREMENT,
  `group_id` bigint NOT NULL,
  `user_id` bigint NOT NULL,
  `action` enum('joined','left','kicked') NOT NULL,
  `timestamp` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`history_id`),
  KEY `group_id` (`group_id`),
  CONSTRAINT `member_history_ibfk_1` FOREIGN KEY (`group_id`) REFERENCES `groups_config` (`group_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `member_history`
--

LOCK TABLES `member_history` WRITE;
/*!40000 ALTER TABLE `member_history` DISABLE KEYS */;
INSERT INTO `member_history` VALUES (1,-4871090106,5279099985,'joined','2025-10-10 09:58:33');
/*!40000 ALTER TABLE `member_history` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `slot_keywords`
--

DROP TABLE IF EXISTS `slot_keywords`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `slot_keywords` (
  `keyword_id` int NOT NULL AUTO_INCREMENT,
  `slot_id` int NOT NULL,
  `keyword` varchar(100) NOT NULL,
  PRIMARY KEY (`keyword_id`),
  KEY `slot_id` (`slot_id`),
  CONSTRAINT `slot_keywords_ibfk_1` FOREIGN KEY (`slot_id`) REFERENCES `group_slots` (`slot_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `slot_keywords`
--

LOCK TABLES `slot_keywords` WRITE;
/*!40000 ALTER TABLE `slot_keywords` DISABLE KEYS */;
INSERT INTO `slot_keywords` VALUES (1,1,'good morning'),(2,1,'morning'),(3,3,'breakfast'),(4,3,'morning meal'),(5,5,'lunch'),(6,5,'afternoon meal'),(7,7,'snacks'),(8,7,'evening snack'),(9,9,'dinner'),(10,9,'night meal');
/*!40000 ALTER TABLE `slot_keywords` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_activity_log`
--

DROP TABLE IF EXISTS `user_activity_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_activity_log` (
  `log_id` int NOT NULL AUTO_INCREMENT,
  `group_id` bigint NOT NULL,
  `user_id` bigint NOT NULL,
  `slot_name` varchar(255) DEFAULT NULL,
  `activity_type` enum('text','photo','button') NOT NULL,
  `message_content` text,
  `telegram_file_id` varchar(255) DEFAULT NULL,
  `local_file_path` text,
  `points_earned` int DEFAULT '0',
  `is_valid` tinyint(1) DEFAULT '1',
  `activity_timestamp` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`log_id`),
  KEY `group_id` (`group_id`),
  CONSTRAINT `user_activity_log_ibfk_1` FOREIGN KEY (`group_id`) REFERENCES `groups_config` (`group_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_activity_log`
--

LOCK TABLES `user_activity_log` WRITE;
/*!40000 ALTER TABLE `user_activity_log` DISABLE KEYS */;
INSERT INTO `user_activity_log` VALUES (1,-4871090106,5279099985,'Afternoon Water Intake','button','2L water',NULL,NULL,4,1,'2025-10-10 10:36:25'),(2,-4871090106,5279099985,'Dinner','text','ok',NULL,NULL,5,1,'2025-10-10 16:01:03'),(3,-4871090106,5279099985,'Lunch','photo',NULL,NULL,NULL,0,0,'2025-10-11 07:30:50'),(4,-4871090106,5279099985,'Lunch','photo',NULL,NULL,NULL,0,0,'2025-10-11 07:31:19');
/*!40000 ALTER TABLE `user_activity_log` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-10-11 13:57:19
